{% extends 'home.html' %}

{% block navbar %}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a style="color: white;" class="nav-link active" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a style="color: yellow;" class="nav-link" href="{{url_for('algorithm')}}"> Algorithm</a>
      </li>
      <li class="nav-item">
        <a style="color: white;" class="nav-link" href="{{url_for('prediction')}}"> Prediction</a>
      </li>
      <li class="nav-item">
        <a style="color: white;" class="nav-link" href="{{url_for('graph')}}"> Graph</a>
      </li>
      <li class="nav-item">
        <a style="color: white;" class="nav-link" href="{{url_for('index')}}">Logout</a>
      </li>
    </ul>
  </div>
{% endblock %}


{% block content %}

  <section style="margin-top: -20px;" class="contact_section layout_padding">
    <div class="container">
      {% if accuracy %}
      <center>
          <h2 style="color: yellow;">Accuracy for {{ algorithm }}: {{ accuracy }} %</h2>
      </center>
     {% endif %}
  



      <div class="row">
        <div style="margin-left: 300px; margin-top: 20px;" class="col-md-6">
          <form action="{{url_for('algorithm')}}" method="post">

            <div>
              <center>
                <select style="width: 400px; height: 50px; border-radius: 5px; padding: 10px;" class="form-select" name="algorithm" aria-label="Default select example" required>
                    <option selected>Select Algorithm</option>
                    <option value="Decision Tree Classifier">Decision Tree Classifier</option>
                    <option value="Random Forest Classifier">Random Forest Classifier</option>
                    <option value="Logistic Regression">Logistic Regression</option>
                    <option value="K Nearest Nieghbo">K Nearest Nieghbor</option>
                    <option value="Linear Disciminent Analysis">Linear Disciminent Analysis</option>
                    <option value="Adaboost Classifier">Adaboost Classifier</option>
                  </select>
              </center>
            </div><br>

            <div class="d-flex ">
              <center>
                <button style="margin-left: 80px; border-radius: 5px; width: 400px;" type="submit">
                  Accuracy!
                </button>
              </center>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}